/*
 Theme Name: GARAGE
 Author: Web Domus ITALIA
 Author URI: http://www.webdomus.net/
 Description: GARAGE a multi-purpose HTML5 template built with latest Bootstrap framework. It offers flexible solutions, responsive, well documented and comes packed with tons of feature and options which they can be easily customized! It is a perfect solution for all kinds of businesses from small businesses to startups and bloggers.
 Version: 1.0.0
 License:  GARAGE template is under Creative Commons Attribution 4.0 International License.
 Template: GARAGE
 */


.allcontain{
	max-width: 1366px;
	margin-left: auto;
	margin-right: auto;
}
.header{
	background-color: #191919;

}
.header .container{
	padding: 0px;
}

.socialicon{
list-style-type: none;
display: inline-block;
margin: 0px;
padding-left: 11.2%;

}
.socialicon>li{
float: left;
padding-top: 2px;

}
.socialicon>li>a{
padding-right: 10px;
color: #fff;
text-decoration: none;
}
.socialicon>li>a:hover{
	color: #C59E47;

}

.givusacall{
	list-style-type: none;
	display: inline-block;
	letter-spacing: 1px;
	font-family: 'BebasNeue Regular';
	font-size: 12.7px;
	color: #E7E7E7;
	margin-bottom: 0px;
	padding-left: 26.1%;
}
.givusacall>li{
		float: right;
}
 .logreg{
 	list-style-type: none;
 	display: inline-block;

	font-family: 'BebasNeue Regular';
	font-size: 9pt;
	color: #E7E7E7;
	margin-bottom: 0px;
	padding-left: 23%;
}
.logreg>li{
float: left;

}
.logreg>li>a{
	text-decoration: none;
	color: #E7E7E7;
	padding-right: 6px;
}
.logreg>li>a:hover{
	color:#C59E47;
}
.logreg .register{
	border-left: 1px solid #E7E7E7;
	padding-left: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
}
@media screen and (max-width: 825px) {
.socialicon{
padding-left: 5%;
}
.givusacall{
	padding-left: 15%;
}
}
@media screen and (max-width: 555px){
	.givusacall{
	padding-left: 10%;
}
.logreg{
		padding-left: 13%;
}
}
@media screen and (max-width: 440px){
	.givusacall{
	padding-left: 3%;
	font-size: 11px;
}
.logreg{
		padding-left: 8%;
		font-size: 11px;
}
.socialicon>li{
	font-size: 11px;
}
.socialicon{
	padding-left: 0px;
}
}

/*----------------------End Header --------------------*/

.logo{
	position: absolute;
    float: left;
    z-index: 999;
    width: 80px;
    height: 80px;
    padding-top: 1px;
}
.topnav{
	background: none;
}
.topnavbar .container{
	margin-left: 107px !important;
}
.toggle-costume{
	float: left;
}

#navbarontop{
	padding-left: 392px;
	padding-top: 17px;
	height:69px;
}
@font-face {
  font-family: "BebasNeue Regular";
    src: url(../source/fonts/BebasNeue-Regular.otf) format("truetype");
}
#navbarontop > li > a {
    font-family: 'BebasNeue Regular';
    font-size: 17px;
    color: #313943;
    padding-top: 5px;
    padding-bottom: 6px;
    margin-bottom: 22px;
    padding-left: 10px;
    padding-right: 10px!important;
    margin-left: 34px;
    border-bottom: 2px solid rgba(0,0,0,.0);
}
#navbarontop > li >a:hover{
  	/*background-color: none!important;*/
  	background: none!important;
  	border-bottom: 2px solid #C59E47;
}
#navbarontop li.active a{
    border-bottom: 2px solid #a28131 !important;
    font-size: 18.5px;
}

 #navbarontop>button{
 	background: none;
 	/*background-color: none;*/
 	border: 2px solid #C59E47;
 	font-family: 'BebasNeue Regular';
 	margin-left: 60px;
  	font-size: 16.99px;
  	color: #313943;
  	padding-left: 19px;
  	padding-right: 19px;
  	padding-top: -2px;
  	padding-bottom:-2px;
 }
 #navbarontop>button:hover{
 	background-color: #C59E47;
 	color: #fff;
 }
 .dropdowncostume{
 	margin-left: 0px;
 }
.topnavbar.navbar-default.topnav {
    border-bottom: #000 solid 1px !important;
}
 .navbar-default .toggle-costume:hover,
.navbar-default .toggle-costume:focus {
  background-color: #000;
}
.navbar-default .toggle-costume.icon-bar {
  background-color: #fff;
}
.navbar-default .toggle-costume:hover .icon-bar {
  background-color: #fff;
}
#navbarontop .open > a,
#navbarontop .open > a:hover,
#navbarontop .open > a:focus {
	/*background-color: none!important;*/
  border-color: #C59E47;
}
#navbarontop a:focus {
  outline: none;
  border-bottom: 2px solid #C59E47;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
	font-family: 'BebasNeue Regular';
	font-size: 13pt;
	color: #000;
	background-color: rgba(255,255,255,.5);
	text-align: center;

}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover{
	background-color: #fff;
}
.dropdown.open .dropdown-menu {
    max-height: inherit;
    opacity: 1;
}

 /*----------------- Navbar On Top Media screen -------------*/
@media screen and (min-width: 320px) and (max-width: 480px){
.dropdowncostume{
	padding-left: 0px;
	margin-left: 0px;
}
.topnavbar .container{
	margin-left: 10px !important;
}
.logo{
	position: absolute;
	top:0px;
	padding-top: 9px;
	-webkit-transform: scale(0.5); /* Saf3.1+, Chrome */
    -moz-transform: scale(0.5); /* FF3.5+ */
    -ms-transform: scale(0.5); /* IE9 */
    -o-transform: scale(0.5); /* Opera 10.5+ */
     transform: scale(0.5);
}
.toggle-costume{
	float: right;
}
#navbarontop{
	 padding-left: 0px;
	padding-top: 26px;
	height: 250px;
}
#navbarontop>li>a{
	margin-left: 0px;
	padding-left: 50px;
	font-size: 13pt;
	margin-bottom: 10px;

}
 #navbarontop>button{
 	margin-left:50px;

 }
.navbar-default .navbar-nav .open .dropdowncostume > li > a {
	text-align: left;
	margin-left: 40px;
}
#upmenu{
	margin-bottom: 15px;
}
}
@media screen and (min-width: 481px) and (max-width: 767px){
.topnavbar .container{
	margin-left: 10px !important;
}
.toggle-costume{
float: right;
}
 #navbarontop>button{
 	margin-left:50px;

 }
.logo{
	position: absolute;
	top:10px;
	padding-top: 9px;
	-webkit-transform: scale(0.7); /* Saf3.1+, Chrome */
    -moz-transform: scale(0.7); /* FF3.5+ */
    -ms-transform: scale(0.7); /* IE9 */
    -o-transform: scale(0.7); /* Opera 10.5+ */
     transform: scale(0.7);
}
#navbarontop{
	 padding-left: 0px;
	padding-top: 40px;
	height: 250px;
}
#navbarontop>li>a{
	margin-left: 0px;
	padding-left: 50px;
	font-size: 13pt;
	margin-bottom: 10px;

}
.navbar-default .navbar-nav .open .dropdowncostume > li > a {
	text-align: left;
	margin-left: 40px;
}
#upmenu{
	margin-bottom: 15px;
}
}
@media screen and (min-width: 768px) and (max-width: 1199px){
	.topnavbar .container {
		margin-left: 50px !important;
	}
	#navbarontop{
		padding-left: 25%;
	}
	#navbarontop > li > a {
    padding-bottom: 6px;
    margin-bottom: 22px;
 	padding-left: 0px;
    padding-right: 0px!important;
    margin-left: 20px;

  }
}



/* ------------------------ End Navbar On Top -----------------*/
/*------------------------- Start Carousel --------------------*/


@font-face{
	font-family: "OpenSans Semibold";
	src: url(../source/fonts/OpenSans-Semibold.ttf) format("truetype");

}
.carousel-caption{
	z-index: 999;
}
.carousel-caption>h2{
	text-align: left;
	font-family: 'OpenSans Semibold';
	font-size: 25.12pt;
	text-shadow: 0 0px 0px rgba(0, 0, 0, .0);

}
@font-face{
	font-family: "OpenSans Regular";
	src:url(../source/fonts/OpenSans-Regular.ttf) format("truetype");
}
.carousel-caption>h2>p{
font-family:'OpenSans Regular';
font-size: 15.88pt;
}
.carousel-caption {
    top: 35%;
    left:13%;
    right:auto;
    bottom: auto;
}

@media screen and (min-width: 320px) and (max-width:767px){
.carousel-caption>h2{
	font-size: 13pt;
}
.carousel-caption {
    top: 15%;

}

.carousel-caption>p{
font-size: 10pt;
}
}


/* -----------------------------Second Navbar ---------------------------------------*/
.downicon{
	padding-left: 40px;
}
.midle-nav{
	background: rgba(248,199,45,.8);
 	border: 0px;
 	position: absolute;
 	bottom: 0px;
 	width: 100%;
 	margin: 0px;
 	border-radius: 0px;


}
#navbarmidle{
		padding-left: 6.6%;
		padding-bottom: 26px;
		width: 100%;

}
.searchtxt{
	max-width: 1349px;
}
.searchtxt>h1{
	font-family: "OpenSans Semibold";
	font-size: 22pt;
	color: #fff;
	margin-top: 14px;
	margin-bottom: 14px;
	padding-left: 15px;
	max-width: 1349px;

}
.navbar-default .textcostume:hover,
.navbar-default .textcostume:focus {
  background-color: #fff;
}
.navbar-default .textcostume:hover .icon-bar {
  background-color: #000;
}
.navbar-default .textcostume:focus .icon-bar{
	background-color: #000;
}
.navbar-default .textcostume .icon-bar {
  background-color: #fff;
}
.navbar-default .textcostume {
  border-color: #fff;
}
.navbar-default .textcostume . {
  border-color: #fff;
}
.navbarborder>li{
	margin-right: 9px;
}
.navbarborder>li>a{
	font-family: "OpenSans Regular";
	font-size: 13pt;
	color: #fff !important;
	/*background-color: none;*/
	padding-top: 11px;
	padding-bottom: 11px;
	border: 1px solid #fff!important;
}
.navbarborder>li>a:hover{
	color: #F8C72D !important;
	background-color: #fff!important;

}
.navbarborder>li:last-child{
 	padding-right: 0px;
 	margin-right: 0px;
	margin-left: 30px;
	padding-right: 0px;
}
.searchform{
	padding-right: 64px;
	background: none;
	/*background-color: none;*/
	border: 1px solid #fff;
	border-radius: 0px;
	/*box-shadow: 0px;*/
	/*box-shadow: inset 0px;*/
	height: 44px;
	margin: 0px;
}
.searchform:focus {
  border-color: #fff;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 255, 255, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 255, 255, .6);
}
.searchformmargin{
	margin: 0px;
	border: 0px;
	padding: 0px;
	margin-right: 9px;
}
.searchform::-webkit-input-placeholder {
    color: #fff;
    font-family: "OpenSans Regular";
    font-size:13pt;
    /*box-shadow: 0px;*/
}
.searchform::-moz-placeholder {
    /* FF 19+ */
    color: #fff;
    font-family: "OpenSans Regular";
    font-size: 13pt;
    /*box-shadow: 0px;*/


}
.priceslider{
	font-family: "OpenSans Regular";
	/*background-color: none;*/
	background: none;
	border: none;
	color: #fff;
}
.slidertxt{
	font-family: "OpenSans Regular";
	color: #fff;
}
.searchnav{
	margin-right: 7.3%;
}
.searchbutton{
	border: 0px;
	background: none;
	/*background-color: none;*/
	font-size: 13pt;
	color: #fff;
	padding-top: 20px;
}
.btn-costume{
	border-radius: 0px;
}



@media only screen and (min-width: 1366px){
	.li-category{
		width: 205px;
	}
	.li-minyear{
		width: 156px;
	}
	.li-maxyear{
		width: 156px;
	}
	.li-slideprice{
		margin-left: 36px;
		width: 249px;
	}
	.li-search{
		margin-left: 40px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 1365px){
	.midle-nav{
		position: relative;
		background: rgb(248,199,45);
		top:0px;


}

.searchtxt>h1{
	font-size: 18pt;


	padding-left: 0px;

}
.navbarborder>li{
	padding-right: 9px;

}
.searchform{
	padding-right: 10px;
	height: 44px;
	margin: 0px;
	margin-right: 9px;
}
.searchformmargin{
	margin-bottom: 20px;


}
.searchbutton{
	margin-right: 0px;
	margin-left: 0px;
}

}
@media screen and (min-width: 1065px) and (max-width: 1140px){
	#navbarmidle{
		padding-left: 10px;
		padding-right: 0px;
	}
}

@media screen and (min-width:768px)and (max-width: 1064px){
 #navbarmidle{
 	max-width: 671px;
 	margin-right: auto;
 	margin-left: auto;

 padding-right: 0px;
padding-left: 0px;
 }
.navbarborder{
	width: 520px;
}
	 #amount{
	 	width: 100px;
	 	font-size: 10px;
	 }
	  #slider-range{
	 	width: 130px!important;
	 }
	 .li-slideprice>p{
	 	font-size: 10px;
	 	width: 132px;
	 }
	 .li-slideprice{
	 	width: 135px;
	 }
.navbarborder>li>a{
	font-size: 12px;
	padding-left: 5px;
	padding-right: 5px;
}
.downicon{
		padding-left: 5px;
		margin-left: 5px;
	}
.searchform{
	width: 40px;
}
.searchform::-webkit-input-placeholder {
    font-size:11pt;
}
.searchform::-moz-placeholder {
    font-size: 11pt;
}
.navbar-form .searchform{
	width: 133px;
}
.navbarborder>li:last-child{
	margin-left: 0px;
}
}
@media screen and (max-width: 767px){
#navbarmidle{
	padding-left: 20px;
	background: rgb(248,199,45);
}
.navbarborder>li:last-child {
	margin-left: 0px;
}
.navbarborder>li{
	margin-right: 0px;
}
	.li-category{
		width: 100%;
	}
	.li-minyear{
		width: 100%;
	}
	.li-maxyear{
		width: 100%;
	}
	#amount{
	 	width: 50%;
	 	font-size: 14px;
	 }
	  #slider-range{
	 	width: 98%!important;
	 }
	 .li-slideprice>p{
	 	font-size: 14px;
	 	width: 100%;
	 }
	 .li-slideprice{
	 	width: 100%;
	 	margin-left: 0px;
	 }
.midle-nav{
		position:relative;
		top:0px;
		background: rgba(248,199,45,.9)
	}
	.navbarborder{
		margin-left: 0px;
		margin-right: 0px;
	}
	.navbarborder>li{
		padding-left: 0px;
		padding-bottom: 20px;
		padding-right: 0px;
	}
	.navbarborder>li>a{
		font-weight: bold;
	}

 .textcostume>h1{
 	position: absolute;
 	left: -200px;
 	top:-20px;
 	font-family: "OpenSans Semibold";
	font-size: 22pt;
	color: #fff;

 }
 .searchtxt>h1{
 	font-size: 0pt;
}
.searchbutton{
display: block;
margin-right: auto;
margin-left: auto;
}
.searchform::-webkit-input-placeholder {
font-weight: bold;
}
.searchform::-moz-placeholder {
    /* FF 19+ */
font-weight: bold;


}
.searchformmargin{
	margin-bottom: 20px;
	border: 0px;
	padding: 0px;
	margin-right: 0px;
}

}


/*   ---------------------------   fetured cars   ---------------------------------    */
@font-face{
	font-family: "OpenSans-Light";
	src: url(../source/fonts/OpenSans-Light.ttf) format("truetype");
}
.feturedsection>h1{
	font-family: "OpenSans-Light";
	font-size: 41px;
	padding-top: 46px;
	padding-bottom: 50px;
	color: #020243;
}

.carstxt{
	padding-left: 45px;
	padding-right: 88px;
}
.bdots{
	padding-right: 40px;
}
.row{
	padding: 0px;
	margin: 0px;

}


@media screen and (min-width: 320px) and (max-width: 480px){
	.feturedsection>h1{
	font-size: 15pt;
	padding-top: 20px;
	padding-bottom: 20px;

}
.bdots{
	padding-right: 15px;
}
.carstxt{
	padding-left: 20px;
	padding-right: 15px;
}
}
@media screen and (min-width: 480px) and (max-width: 640px){
	.feturedsection>h1{
	font-size: 20pt;
}
.bdots{
	padding-right: 20px;
}
.carstxt{
	padding-left: 20px;
	padding-right: 20px;
}
}

/* -----------------------Featured Cars--------------------------------------------------------*/
.img1colon{
	max-width:46.3%;
}
.img1colon>img{

	width: 100%;

}
.costumrow{
	border-top: 1px solid #BABABA;
	border-bottom: 1px solid #BABABA;
}
.txt1colon{
	width: 53.7%;
}
.featurecontant{
	width:85%;
	height: auto;
	border: 1px solid #C59E47;
	margin-top: 7%;

	margin-right: auto;
	margin-left: auto;
}
.featurecontant>h1{
	font-family: "OpenSans Regular";
	font-size: 19.8px;
	text-align: center;
	color: #5B5B5B;
	margin-top:14%;
	margin-bottom: 8px;

}
.featurecontant>p{
	font-family: "OpenSans Regular";
	font-size: 11.44px;
	text-align: center;
	color: #5B5B5B;
}
.featurecontant>h2{
	font-family: "OpenSans Regular";
	font-size: 12.41pt;
	color: #020243;
	text-align: center;
	letter-spacing: 8px;
	margin-top: 36%;
	margin-bottom: 19px;
}
.featurecontant>button, .featurecontant>a {
	background: #020243;
	border: 1px solid #020243;
	font-family: "OpenSans Regular";
	font-size: 19px;
	color:#fff;
	letter-spacing: 5px;
	width: 68%;
	margin-left: 17%;
	margin-bottom: 26px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.featurecontant>button:hover, .featurecontant>a:hover{
	-moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    transition: all .2s ease-in;
	border: 1px solid #020243;
	background: none;
	color: #020243;
}


.img2colon{
	padding: 0px!important;
	margin: 0px!important;
	max-width:46.3%;

}
.img2colon>img{
	width: 100%;
}
#readmore{
	overflow-y: auto;
	position: absolute;
	background-color: #fff;
	top:0px;
	margin-top: 30px;
	height: 0px;
 	max-width: 290px;
}
#readmore>h1{
	text-align: center;
	font-family: "OpenSans Regular";
	color: #5B5B5B;
	font-size: 19.8px;
}
#readmore>p{
	font-family: "OpenSans Regular";
	font-size: 11.44px;
	text-align: center;
	color: #5B5B5B;
	margin-right: 20px;
	margin-left: 20px;
}
#readmore>button{
	background: none;
	border: 1px solid #020243;
	font-family: "OpenSans Regular";
	font-size: 19px;
	color:#020243;
	letter-spacing: 5px;
	width: 70%;
	margin-left: 17%;
	margin-bottom: 26px;
	padding-top: 15px;
	padding-bottom: 15px;
}
#readmore>button:hover{
	background: #020243;
	color: #fff;
	-moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
#readmore2{
	overflow-y: auto;
	position: absolute;
	background-color: #fff;
	top:0px;
	margin-top: 30px;
	height: 0px;
 	max-width: 290px;
}
#readmore2>h1{
	text-align: center;
	font-family: "OpenSans Regular";
	color: #5B5B5B;
	font-size: 19.8px;
}
#readmore2>p{
	font-family: "OpenSans Regular";
	font-size: 11.44px;
	text-align: center;
	color: #5B5B5B;
	margin-right: 20px;
	margin-left: 20px;
}
#readmore2>button{
	background: none;
	border: 1px solid #020243;
	font-family: "OpenSans Regular";
	font-size: 19px;
	color:#020243;
	letter-spacing: 5px;
	width: 68%;
	margin-left: 17%;
	margin-bottom: 26px;
	padding-top: 15px;
	padding-bottom: 15px;
}
#readmore2>button:hover{
	background: #020243;
	color: #fff;
	-moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

@media screen and (max-width: 1198px){
.featurecontant{
width: 85%;
margin-right:auto;
margin-left: auto;

}


.costumrow{
	border-top: 0px solid #BABABA;
	border-bottom: 0px solid #BABABA;
}
.colborder1{
border-top: 1px solid #BABABA;
border-left: 1px solid #BABABA;
border-right:1px solid #BABABA;
border-bottom: 1px solid #BABABA;
}
.colborder2{
border-left: 1px solid #BABABA;
border-right:1px solid #BABABA;
border-bottom: 1px solid #BABABA;
}
.costumcol{
display: block;
max-width: 683px;
margin-right: auto;
margin-left: auto;
}
}
@media screen and (max-width: 651px){
.colborder1{
 border-top: 0px solid #BABABA;
 border-left:0px solid #BABABA;
 border-right:0px solid #BABABA;
 border-bottom: 0px;
}
.img1colon>img{
	width: 312px;
	margin-left: 3px;
}
.img2colon>img{
	width: 312px;
	margin-left: 3px;
}
.colborder2{
border:0px solid #BABABA;
}
.txt1colon{
 width: 310px;
 margin-left: 3px;
}
.featurecontant{

width: 100%;
}
.costumcol{
display: block;
max-width: 320px;
margin-right: auto;
margin-left: auto;
}
#readmore{
 	max-width: 99%;
}
#readmore2{
 	max-width: 99%;
}
}

/*  ------------------------------------  *Latest cars *   -----------------------------------   */
.carimages{
	 max-width: 100%;
}
.latestcars>h1{
    font-family: "OpenSans-Light";
    font-size: 40px;
    letter-spacing: 10px;
    padding-top: 16px;
    padding-bottom: 10px;
    color: #020243;
}
.sortby{
	font-family: "OpenSans Regular";
	font-size: 16px;
	color: #262626;
}
.latestlist{
	color: #6D6D6D;
	font-family: "OpenSans Regular";
	font-size: 14px;
	color: #262626;

}
.latest-navleft{
	width: 752px;
	margin-left: auto!important;
	margin-right: auto!important;
	border: 0px;
	float: none!important;

}
.latest-navleft>li:last-child{
	padding-left: 216px;
}
.latest-navleft>li>a{
	color: #6D6D6D;
	font-family: "OpenSans Regular";
	font-size: 14.8px;
	border: 0px;
	padding-top: 0px;

}
.latest-navleft > li > a:hover,
.latest-navleft > li > a:focus {
  text-decoration: none;
  background-color: #fff;
  outline: none;
}
.latest-navleft>li>button{
	background: none;
	/*background-color: none;*/
	border: 0px;
	font-size: 15pt;
	color: #F8C72D;
}
.latest-navleft>li>button:hover{
	color: #3F86D2;
}

.latest-navleft>li>a:hover{
	background: none;
	/*background-color: none;*/
	border: 0px;

}
@media screen and (min-width: 1366px){
.latest-navleft{
	width: 810px;

}
}
@media screen and (max-width: 767px){
.latestcars>h1{
	font-size: 18px;
	letter-spacing: 5px;
	padding-top: 20px;
	margin-top: 0px;
	padding-bottom: 40px;
}
.latest-navleft{
	padding-bottom: 0px;
	padding-bottom: 0px;
	height: 186px;
}
.latest-navleft>li{
	float: none;

}
.latestcars{
	padding-bottom: 0px!important;
}



 .li-sortby{
 	padding-bottom: 20px;
 }
 .sortby{
font-weight: bold;
}

.latestcars{
	text-align: center;
	padding-bottom: 20px;
}
#hideonmobile{
	visibility: hidden;
}
.latest-navleft{
	width: 260px;

}
}
@media screen and (min-width: 768px) and (max-width: 1067px){
.sortby{
	font-family: "OpenSans Regular";
	font-size: 14px;
	color: #262626;
}
.latestlist{
	font-size: 12px;

}
.latest-navleft>li>a{
padding-left: 0px;
	}
.latest-navleft{
	width: 675px;

}
}

/*-----------------------------------Image Car Thumbnail --------------------------*/

.txtcontent{
	position: absolute;
	top:0px;
	left:0px;
	background: rgba(12,12,12,.7);
	width: 100%;
	height: 100%;
	 opacity: 0;
	-webkit-transition: opacity 500ms;
  	-moz-transition: opacity 500ms;
  	-o-transition: opacity 500ms;
  	transition: opacity 500ms;


}
 .stars{
 	font-size: 7px;
	padding-top: 57px;
	padding-bottom: 12px;
	text-align: center;
	border-bottom: 2px solid #F6F6FB;
	margin-left:58px;
	margin-right: 58px;
	color: #F6F6FB;

}
.simpletxt{
	text-align: center;
	border-top: 1px solid #F6F6FB;
	border-bottom: 1px solid #F6F6FB;
	margin-top: 2px;
	margin-left: 58px;
	margin-right: 58px;
	padding-top: 40px;
}
.simpletxt>h3{
	font-family: "OpenSans Semibold";
	font-size: 13.6px;
	color:#E7E7E7;
	margin: 0px;
}
.simpletxt>p{
	font-family: "OpenSans Regular";
	font-size: 11.2px;
	color: #E7E7E7;
	padding-top: 7px;
}
.simpletxt>h4{
	font-family: "OpenSans Regular";
	font-size:11.3px;
	font-weight: bold;
	text-align: center;
	color: #FFF;
	padding-bottom: 25px;

}

.simpletxt>button{
	background: none;
	border: 1px solid #fff;
	font-family:"OpenSans Regular";
	color: #fff;
	margin-bottom: 14px;
}
.wishtxt{
	padding-bottom: 42px;
}
.wishtxt .paragraph1{
	font-family: "OpenSans Regular";
	font-size:11.32px;
	color: #fff;
	float: left;


}
.wishtxt .paragraph2{
	font-family: "OpenSans Regular";
	font-size: 11.32px;
	color: #fff;
	float: right;
}
.stars2{
 	font-size: 7px;
	padding-top: 10px;
	margin-top: 2px;
	text-align: center;
	border-top: 2px solid #F6F6FB;
	margin-left:58px;
	margin-right: 58px;
	color: #F6F6FB;

}
.txthover>img{
	width:100%;

}
.txthover:hover .txtcontent{
	opacity: 1;
}
@media screen and (min-width: 320px) and (max-width: 766px){
 .stars{
	padding-top: 20px;
}
}
@media screen and (min-width: 1200px)and (max-width: 1280px){
.stars{
	padding-top: 37px;
}
}
/*  -----------------     End Latest Cars Images    ------------------------ */
/* ------------------ Newsletter Section -----------------------------------*/
.newslettercontent{
	position: relative;
	width: 100%;
	height: auto;
    background: linear-gradient(177deg, rgb(146 143 195) 0%, rgb(128 171 215) 18%, rgb(255 255 255) 100%);
}
.leftside{
	position: relative;
}
.leftside>img{
    position: relative;
    width: 45.5%;
    margin-top: 7%;
    margin-left: 8.1%;
    margin-bottom: 6%;
    z-index: 99;
    max-height: 310px;
}
@font-face{
  font-family: "OpenSans Bold";
  src: url(../source/fonts/OpenSans-Bold.ttf) format("truetype");
}
.leftside>h1{
	font-family: "OpenSans Bold";
	top:39%;
	left: 13.2%;
	position: absolute;
	font-size: 27px;
	letter-spacing: 8px;
	z-index: 100;
	margin: 0px;
}
.leftside>p{
	position: absolute;
	font-family: "OpenSans Regular";
	top:47.5%;
	left: 13.2%;
	font-size: 20px;
	z-index: 100;
	width: 35%;
}
.rightside{
	position: absolute;
	top:0;
	left: 50%;
	z-index: 1;
}
.rightside>img{
    padding-top: 7%;
	position: relative;
	width: 100%;
	z-index: 1;
}
.rightside>input{
	position: absolute;
	top:34%;
	left:25%;
	font-family: "OpenSans-Light";
	font-size: 26.8px;
	color:#fff;
	background: none;
	/*background-color: none;*/
	border-top: none;
	border-left: none;
	border-right:none;
	border-bottom: 1px solid #fff;
	border-radius: 0;
	width: 53%;
	padding: 0px;
	z-index: 99;
}
#subemail:focus{
	border-bottom: 1px solid #C7D7E5;
	 box-shadow: inset 0 0px;

	}
#subemail::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:#fff;
 	line-height: 35px;
}
#subemail:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:#fff;
   opacity:  1;
   line-height: 35px;
}
#subemail::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:#fff;
   opacity:  1;
   line-height: 35px;
}
#subemail:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:#fff;
   line-height: 35px;
}

.rightside>button{
	position: absolute;
	top:45%;
	left:25%;
	z-index: 99;
	background: none;
	border: 1px solid #fff;
	font-family: "OpenSans-Light";
	font-size: 31.5px;
	color: #fff;
	letter-spacing: 11px;
	padding-left: 26.7px;
	padding-right: 26.7px;
	width: 53%;
	height: 12%;
}
 .rightside>button:hover{
 	background:#fff;
 	color: #000;
 	-moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    transition: all .2s ease-in;

 }

 @media screen and (max-width: 676px){
.newslettercontent{
	margin-bottom: 90%;
}
.rightside>button{
	left:0%;
	top:48%;
	font-size: 31.5px;
	margin-left: 10%;
	width: 80%;
}
 .leftside>img{
 		transform:rotate(90deg);
 		width: 100%;
 		margin-left: 0%;
 		margin-top:30%;
 	}
.leftside>h1{
	font-size: 13px;
	letter-spacing: 4px;
	text-align: center;
	top:14%;
	left: 26%;
}
.leftside>p{
	font-size: 12px;
	top:25%;
	left: 23%;
	width: 55%!important;
}
.rightside{
left:0;
top:90%;
}
.rightside>input{
width: 80%;
margin-left: 10%;
left: 0%;
}
}
 @media screen and (max-width: 460px){
 	.rightside>button{
 		font-size: 26px;
 	}
 }
@media screen and (max-width:1200px){
	.leftside>h1{
		font-size: 16px;
		top:25%;
	}
	.leftside>p{
		font-size: 14px;
		top:38%;
		width: 30%;
	}
	.rightside>input{
		font-size: 20px;
	}
	.rightside>button{
	 	font-size: 27px;
		letter-spacing: 3px;
	}
}
/*-------------------------------------End Newsletter Section ----------------*/
/*-------------------------------------Bottom Menu -----------------------------------------------*/
 .bottommenu{
 	position: relative;
 	top:60px;
 }
 .bottomlogo{
 	text-align: center;
 }
 .dotlogo{
 	font-size: 12px;
 	color: #C59E47;
 	padding-right: 78px;
 	padding-left: 78px;
 }
 .bottommenu>ul{
 	 padding-left: 13%;
 	 padding-top: 49px;
 }
 .bottommenu>ul>li>a{
 	font-family: "OpenSans Regular";
 	font-size: 17px;
 	letter-spacing: 4px;
 	color: #191919;
 }
  .bottommenu>ul>li>a:hover{
  /*background-color: none;*/
  background: none;
  border: none;
  	font-family: "OpenSans Regular";
 	font-size: 17px;
 	letter-spacing: 4px;
 	color: #191919;
  }
  .bottomlinks{
  	border: 0px;
  }
  .bottomlinks>li>a{
  border: 0px;
  }
  .bottomlinks > li > a:hover,
.bottomlinks > li > a:focus {
  background-color: transparent;
  outline: none;
}
  .bottommenu>p{
  	text-align: center;
  	font-family: "OpenSans Regular";
  	font-size: 13px;
  	color: #707070;
  	padding-top: 105px;
  }
 .bottommenu>img{
 	padding-left:50%;
 	margin-left: -20px;
 	margin-bottom: 35px;
 	margin-top: 54px;
 }
.bottomsocial{
	display: inline;
	padding-left: 50%;
	margin-left: -64px;
	font-size: 20px;
	color: #C59E47;

}
.bottomsocial>a{
	color: #C59E47;
	padding-right: 20px;
}
.bottomsocial>a:hover{
	color: #191919;
}
.bottomsocial>a>i{
	margin-bottom: 20px;
}
@media screen and (min-width:320px) and (max-width:359px){
	.bottommenu{
		top:30px;
	}
  	.bottommenu>p{
  		font-size: 12px;
  		padding-top: 20px;
  	}
  	.bottommenu>ul{
  		padding-left: 0px;
  	}
  	.bottomlinks>{
  		padding-left: 20px;

  	}
  	.bottomlinks>li>a{


  	}
  	.bottomlinks>li{
  	float: none;
  text-align: center;

  	}
  	.bottommenu>img{
  		margin-bottom: 15px;
  		margin-top: 15px;
  	}
  	 .dotlogo{

 	padding-right: 15px;
 	padding-left: 15px;
 }
  }
 @media screen and (min-width:360px) and (max-width:480px){
  	.bottommenu>p{
  		font-size: 12px;
  		padding-top: 20px;
  	}
  	.bottommenu>ul{
  		padding-left: 20px;
  	}
  	.bottomlinks>{
  		padding-left: 20px;

  	}
  	.bottomlinks>li>a{


  	}
  	.bottomlinks>li{
  	float: none;
  	text-align: center;

  	}
  	.bottommenu>img{
  		margin-bottom: 15px;
  		margin-top: 15px;
  	}
  	 .dotlogo{

 	padding-right: 15px;
 	padding-left: 15px;
 }
  }
 @media screen and (min-width: 481px) and (max-width: 1200px){
 .bottommenu>ul{
 	padding-left: 30px;
 	float: none;
 }
  	.dotlogo{

 	padding-right: 30px;
 	padding-left: 30px;
 }
   	.bottomlinks>li{
  	float: none;
  	text-align: center;

  	}
  .bottommenu{
  	top:0px;
  }
 }




@font-face{
	font-family: "Roboto Light";
	src: url(../source/fonts/Roboto-Light.ttf) format("truetype");

}
.footer{
background-color: #191919;
color: #fff;
font-family: "Roboto Light";
font-size: 12px;

width: 100%;
height: 30px;

}
.copyright{
	float:left;
	padding-left: 10%;
	padding-top: 5px;
}
.atisda{
	float: right;
	padding-right: 10%;
	padding-top: 5px;
	text-decoration: none;
}
.copyright>a{
	color: #fff;
	border: 0px;
}
.copyright>a:hover{
 text-decoration: none;
}
.atisda>a{
	color: #d99735;
	border: 0px;
}
.atisda>a:hover{
	text-decoration: none;
}

@media screen and (max-width:600px){
	.footer{
		margin-top: 15px;
	}
	.copyright{
		float: none;
        text-align: center;
        padding: 0;
        padding-top: 5px;
        margin-bottom: 7px;
    }
    .atisda{
        float: none;
        text-align: center;
        padding: 0;
    }

    .footer>a:hover{
        color: #F97906;
    }
    .footer{
        height: 55px;
    }
}
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.car-card .car:hover {
    background: #ffffff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.13);
}

.car-card {
    padding-top: 2px;
    margin-bottom: 15px;
}

.car-card .car {
    padding-top: 10px;
    margin: 5px;
    border: 1px solid #dee2e6 !important;
    background: #fff;
    border-radius: 5px;
    padding-bottom: 20px;
}

.car-card img{
    max-height: 150px;
    min-height: 150px;
    margin: 0 auto;
}
.card-price {
    display: block;
    font-size: 14px;
}
.exist-promotion {
    text-decoration: line-through;
}
.card-price-promotion {
    display: block;
    font-size: 18px;
}

section.content {
    min-height: 400px;
    margin-bottom: 30px;
}

footer .footer-widget p {
    margin-bottom: 27px;
}

footer .animate-border {
    position: relative;
    display: block;
    width: 115px;
    height: 3px;
    background: #007bff;
}

footer .animate-border:after {
    position: absolute;
    content: "";
    width: 35px;
    height: 3px;
    left: 0;
    bottom: 0;
    border-left: 10px solid #fff;
    border-right: 10px solid #fff;
    -webkit-animation: animborder 2s linear infinite;
    animation: animborder 2s linear infinite;
}

@-webkit-keyframes animborder {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
    100% {
        -webkit-transform: translateX(113px);
        transform: translateX(113px);
    } }

@keyframes animborder {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
    100% {
        -webkit-transform: translateX(113px);
        transform: translateX(113px);
    }
}

footer .animate-border.border-white:after {
    border-color: #fff;
}

.animate-border.border-yellow:after {
    border-color: #F5B02E;
}

footer .animate-border.border-orange:after {
    border-right-color: #007bff;
    border-left-color: #007bff;
}

footer .animate-border.border-ash:after {
    border-right-color: #EEF0EF;
    border-left-color: #EEF0EF;
}

footer .animate-border.border-offwhite:after {
    border-right-color: #F7F9F8;
    border-left-color: #F7F9F8;
}

/* Animated heading border */
@keyframes primary-short {
    0% {
        width: 15%;
    }
    50% {
        width: 90%;
    }
    100% {
        width: 10%;
    } }

@keyframes primary-long {
    0% {
        width: 80%;
    }
    50% {
        width: 0%;
    }
    100% {
        width: 80%;
    }
}

footer.dk-footer {
    padding: 75px 0 0;
    background-color: #201e30;
    position: relative;
    z-index: 2;
}
footer.dk-footer .contact-us {
    margin-top: 0;
    margin-bottom: 30px;
    padding-left: 80px;
}
footer.dk-footer .contact-us .contact-info {
    margin-left: 50px;
}
footer.dk-footer .contact-usfooter .contact-us-last {
    margin-left: -80px;
}
footer .dk-footer .contact-icon i {
    font-size: 24px;
    top: -15px;
    position: relative;
    color:#007bff;
}

footer .dk-footer-box-info {
    position: absolute;
    top: -88px;
    background: #202020;
    padding: 22px 15px 13px 16px;
    z-index: 2;
    left: 33%;
    text-align: center !important;
}
footer .dk-footer-box-info .footer-social-link h3 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 25px;
}
footer .dk-footer-box-info .footer-social-link ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
footer .dk-footer-box-info .footer-social-link li {
    display: inline-block;
}
footer .dk-footer-box-info .footer-social-link a i {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    background: #000;
    margin-right: 5px;
    font-size: 20px;
    color: #fff;
}
footer .dk-footer-box-info .footer-social-link a i.fa-facebook {
    background-color: #3B5998;
}
footer .dk-footer-box-info .footer-social-link a i.fa-twitter {
    background-color: #55ACEE;
}
footer .dk-footer-box-info .footer-social-link a i.fa-google-plus {
    background-color: #DD4B39;
}
footer .dk-footer-box-info .footer-social-link a i.fa-linkedin {
    background-color: #0976B4;
}
footer .dk-footer-box-info .footer-social-link a i.fa-instagram {
    background-color: #B7242A;
}

.footer-awarad {
    margin-top: 285px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.footer-awarad p {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    margin-left: 20px;
    padding-top: 15px;
}

.footer-info-text {
    margin: 26px 0 32px;
}

.footer-left-widget {
    padding-left: 80px;
}

.footer-widget .section-heading {
    margin-bottom: 35px;
}

.footer-widget h3 {
    font-size: 24px;
    color: #fff;
    position: relative;
    margin-bottom: 15px;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
}

.footer-widget ul {
    width: 50%;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-widget li {
    margin-bottom: 18px;
}

.footer-widget p {
    margin-bottom: 27px;
}

.footer-widget a {
    color: #878787;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.footer-widget a:hover {
    color: #007bff;
}

.footer-widget:after {
    content: "";
    display: block;
    clear: both;
}

footer.dk-footer-form {
    position: relative;
}
footer.dk-footer-form input[type=email] {
    padding: 14px 28px;
    border-radius: 50px;
    background: #2E2E2E;
    border: 1px solid #2E2E2E;
}
footer.dk-footer-form input::-webkit-input-placeholder, footer.dk-footer-form input::-moz-placeholder, footer.dk-footer-form input:-ms-input-placeholder, footer.dk-footer-form input::-ms-input-placeholder, footer.dk-footer-form input::-webkit-input-placeholder {
    color: #878787;
    font-size: 14px;
}
footer.dk-footer-form input::-webkit-input-placeholder, footer.dk-footer-form input::-moz-placeholder, footer.dk-footer-form input:-ms-input-placeholder, footer.dk-footer-form input::-ms-input-placeholder, footer.dk-footer-form input::placeholder {
    color: #878787;
    font-size: 14px;
}
footer.dk-footer-form button[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px 24px 12px 17px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 1px solid #007bff;
    background: #007bff;
    color: #fff;
}
footer.dk-footer-form button:hover {
    cursor: pointer;
}

/* ==========================

    Contact

=============================*/
footer .contact-us {
    position: relative;
    z-index: 2;
    margin-top: -55px !important;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

footer .contact-icon {
    position: absolute;
}
footer .contact-icon i {
    font-size: 36px;
    top: -5px;
    position: relative;
    color: #007bff;
}

footer .contact-info {
    margin-left: 75px;
    color: #fff;
}
footer .contact-info h3, footer .contact-info strong {
    font-size: 20px;
    color: #fff;
    margin-bottom: 0;
}
footer .contact-info p {
    margin: 10px 0 10px;
}

footer .copyright {
    padding: 28px 0;
    background-color: #202020;
    width: 100%;
}
footer .copyright span,
footer .copyright a {
    color: #878787;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
footer .copyright a:hover {
    color:#007bff;
}

footer .copyright-menu ul {
    text-align: right;
    margin: 0;
}

footer .copyright-menu li {
    display: inline-block;
    padding-left: 20px;
}

footer .back-to-top {
    position: relative;
    z-index: 2;
}
footer .back-to-top .btn-dark {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 0;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #2e2e2e;
    border-color: #2e2e2e;
    display: none;
    z-index: 999;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
footer .back-to-top .btn-dark:hover {
    cursor: pointer;
    background: #FA6742;
    border-color: #FA6742;
}
footer .logo-footer {
    margin: auto 0;
    max-height: 100px;
    min-height: 100px;
}

/**
Detalhes da tela de veiculo
 */
.preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
@media screen and (max-width: 996px) {
    .preview {
        margin-bottom: 20px; } }

.preview-pic {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }

.preview-thumbnail.nav-tabs {
    border: none;
    margin-top: 15px; }
.preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%; }
.preview-thumbnail.nav-tabs li img {
    max-width: 100%;
    display: block; }
.preview-thumbnail.nav-tabs li a {
    padding: 0;
    margin: 0; }
.preview-thumbnail.nav-tabs li:last-of-type {
    margin-right: 0; }

.tab-content {
    overflow: hidden; }
.tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
    animation-name: opacity;
    -webkit-animation-duration: .3s;
    animation-duration: .3s; }

.card {
    margin-top: 20px;
    margin-bottom: 20px;
    background: #eee;
    padding: 3em;
    line-height: 1.5em;
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}

@media screen and (min-width: 997px) {
    .wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}

.colors {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }

.product-title, .price, .sizes, .colors {
    text-transform: UPPERCASE;
    font-weight: bold; }

.checked, .price span {
    color: #ff9f1a; }

.product-title, .rating, .product-description, .price, .vote, .sizes {
    margin-bottom: 15px; }

.product-title {
    margin-top: 0; }

.size {
    margin-right: 10px; }
.size:first-of-type {
    margin-left: 40px; }

.color {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    height: 2em;
    width: 2em;
    border-radius: 2px; }
.color:first-of-type {
    margin-left: 20px; }

.add-to-cart, .like {
    background: #ff9f1a;
    padding: 1.2em 1.5em;
    border: none;
    text-transform: UPPERCASE;
    font-weight: bold;
    color: #fff;
    -webkit-transition: background .3s ease;
    transition: background .3s ease; }
.add-to-cart:hover, .like:hover {
    background: #b36800;
    color: #fff; }

.not-available {
    text-align: center;
    line-height: 2em; }
.not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff; }

.orange {
    background: #ff9f1a; }

.green {
    background: #85ad00; }

.blue {
    background: #0076ad; }

.tooltip-inner {
    padding: 1.3em; }

@-webkit-keyframes opacity {
    0% {
        opacity: 0;
        -webkit-transform: scale(3);
        transform: scale(3); }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1); } }

@keyframes opacity {
    0% {
        opacity: 0;
        -webkit-transform: scale(3);
        transform: scale(3); }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1); }
}

.single-item-carousel .item img{
    max-height: 450px;
    min-height: 450px;
    margin: 0 auto !important;
}
.slick-arrow.slick-next {
    right: 20px !important;
}
.slick-arrow.slick-prev {
    left: 5px !important;
}
.slick-prev:before, .slick-next:before {
    font-size: 35px !important;;
    color: black !important;
}
.details {
    padding-left: 25px;
}
#filter-panel .form-group {
    padding-left: 10px;
    padding-right: 0px;
    margin-bottom: 15px;
    margin-right: 15px;
}

.panel-collapse #heading {
    color: #fff;
    background: #0b58a2;
    cursor: pointer;
}
label.label-opcional {
    color: #fff;
    padding: 2px 6px;
    border-radius: 5px;
}
#lightSlider ul {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom:0;
}
#lightSlider li {
    display: block;
    float: left;
    margin-right: 6px;
    cursor:pointer;
}
#lightSlider img {
    display: block;
    height: auto;
    max-width: 100%;
}

/*Sobre*/
.how-section1{
    margin-top:-15%;
    padding: 10%;
}
.how-section1 h4{
    color: #174580;
    font-weight: bold;
    font-size: 40px;
}
.how-section1 .subheading{
    color: #3931af;
    font-size: 20px;
}
.how-section1 .row
{
    margin-top: 10%;
}
.how-img
{
    text-align: center;
    padding-left: 2%;
}
.how-img img{
    width: 100%;
    margin-top: 10%;
}

.contact-form {
    padding: 20px 10px;

}
.contact-form input, .contact-form textarea{
    margin-bottom: 10px;

}

.container .contact-form .title {
    font-size: 2.5em;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: #242424;
    margin: 5% 8%;
}
.container .contact-form .subtitle {
    font-size: 1.2em;
    font-weight: 400;
    margin: 0 4% 5% 8%;
}
.container .contact-form input,
.container .contact-form textarea {
    padding: 3%;
    margin: 2% 8%;
    color: #242424;
    border: 1px solid #B7B7B7;
}
.container .contact-form input::placeholder,
.container .contact-form textarea::placeholder {
    color: #242424;
}
.container .contact-form .btn-send {
    background: #A383C9;
    width: 180px;
    height: 60px;
    color: #FFFFFF;
    font-weight: 700;
    margin: 2% 8%;
    border: none;
}
#banner-adaptive img {
    width: 100%;
    min-height: 646px;
}

.landing-page  {
    background:#ffffff !important;
    padding: 20px 0px !important;
    margin: 20px 0px !important;
}
